!!!
%html
  %head
    %title Kmgen
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "modernizr", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #header
      %nav.navbar
        %h3.four.columns
          = link_to "milleage report generator", root_path
        %ul.eight.columns
          %li
            = link_to root_path do
              %i.icon-flag
              get started
          %li
            = link_to about_path do
              %i.icon-info
              about
    #content.row{ class: page_classes }
      = yield
